# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variable files
.env
.env.*
!.env.example

# Streamlit secrets
**/secrets.toml

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# pyright / type checker config
pyrightconfig.json
